* {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  text-align: center;

}

html {
  background-color: #ffffff;
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
}

/* Nav-bar */
.navbar {
  display: flex;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.010);
  /* border-radius: 0px 0px 8px 8px; */
  width: 100hw;
  height: 60px;
  justify-content: center;
  align-items: center;
  position: sticky;
  z-index: 20;
  top: 0;
}

.circle{
  height: 50px;
  width: 50px;
  border-radius: 100vw;
  position: absolute;
  background-color: #00b3ff;
  /* z-index: 10; */
  bottom: 4%;
  right: 3%;
  position: fixed;
  text-align: center;
}
/* Hero-section */
.hero-sec {
  height: 700px;
  width: 1519px;
  background-image: url("../assets/images/Desktop - 1.png");
  background-size: 100%;
  position: relative;
  /* background-color: aquamarine; */
}

#about {
  height: 760px;
  width: 1519px;

  background-color: #effbff;
}

.layout,
.hero-sec {
  display: flex;
  align-items: center;
  justify-content: center;
}
h1{
  font-size: 68px;
  text-align: center;
  
}
.logo {
  position: absolute;
  left: 2%;
  cursor: pointer;
}

.rounded-full {
  border-radius: 999px;
  border: 2px solid rgba(255, 255, 255, 0.10);
  padding: 6px 10px;
  background-color: #00b3ff;
  backdrop-filter: blur(86px);
  cursor: pointer;
  
}

.navtxt,
.nav-headings {
  text-decoration: none;
  color: #595e67;
  /* color: #121F26; */
  font-size: 1.2rem;
  font-weight: 600;

}
.navt{
  text-decoration: none;
  color: #fafcff;
  /* color: #121F26; */
  font-size: 1.8rem;
  font-weight: 600;
  position: relative;
  top: 12%;

}

.nav_navbar {
  display: flex;
  position: absolute;
  align-items: center;
  gap: 1.5rem;
  right: 2%;

}

.temp {
  color: #ffffff;
  
}

.respo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 5%;
}
.intro {
  display: flex;
  flex-direction: row;
  gap:6%;
}

.profile-pic {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
}

.intropara {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0% 5% 0% 4%;
}

.intropara>p,
.headin>p,
.paratxt {
  font-size: 1.5rem;
  font-weight: 500;
}

.profile-pic>h1,
h2 {
  font-size: 3rem;
  font-weight: 700;
}

.headin,
.aboutpara,
.works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0% 5%;
}
.types,
.skills{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
}


.headin>ul,
.button-text {
  font-size: 1.5rem;
  font-weight: 500;
}
.images{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.img{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}
/* Work */
ol {
  list-style: none;
}

