* {
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  text-align: center;

}

html {
  background-color: #ffffff;
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
}

/* Nav-bar */
.navbar {
  display: flex;
  width: 100vw;
  height: 60px;
  justify-content:center;
  align-items: center;
  position: sticky;
  z-index: 20;
  top: 0;
  background-color: rgba(255, 255, 255, 0.502);
  box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.010);
  backdrop-filter: blur(20px);
}

.circle {
  height: 50px;
  width: 50px;
  border-radius: 100vw;
  position: absolute;
  background-color: #00b3ff;
  /* z-index: 10; */
  bottom: 4%;
  right: 3%;
  position: fixed;
  text-align: center;
}

/* Hero-section */
.hero-sec {
  height: 700px;
  width: 1519px;
  background-image: url("../assets/images/Desktop - 1.png");
  background-size: 100%;
  position: relative;
  /* background-color: aquamarine; */
}

#about {
  height: 760px;
  width: 1519px;

  background-color: #effbff;
}

.layout,
.hero-sec {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 780px;
}

h1 {
  font-size: 68px;
  text-align: center;

}

.logo {
  cursor: pointer;
  left: 100px;
}

.rounded-full {
  border-radius: 999px;
  border: 1px solid #35c2ff;
  padding: 6px 10px;
  background-color: #00b3ff;
  cursor: pointer;

}
.rounded-full:hover {
  background-color: #00a9f1;
  border: 1px solid #00b3ff;

}
.navtxt {
  color: #595e67;
  font-size: 1.2rem;
  font-weight: 600;

}

.navtxt:hover {
  color: #121F26;

}

.navt {
  text-decoration: none;
  color: #fafcff;
  font-size: 1.8rem;
  font-weight: 600;
  position: relative;
  top: 12%;

}

.nav_navbar {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  right: 500px;

}

.temp {
  color: #ffffff;

}

.respo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5% 5%;
}

.intro {
  display: flex;
  flex-direction: row;
  gap: 6%;
}

.profile-pic {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
}

.intropara {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0% 5% 0% 4%;
}

.intropara>p,
.headin>p,
.paratxt {
  font-size: 1.5rem;
  font-weight: 500;
}

.profile-pic>h1,
h2 {
  font-size: 3rem;
  font-weight: 700;
}

.headin,
.aboutpara,
.works {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0% 5%;
}

.types,
.skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
}


.headin>ul,
.button-text {
  font-size: 1.5rem;
  font-weight: 500;
}

.images {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.img {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

/* Work */
ol {
  list-style: none;
}

.image-logo {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.logo-images {
  display: flex;
  justify-content: center;
  height: 300px;
  width: 520px;
  align-items: center;
  align-content: center;
  align-self: center;
  overflow: hidden;
}

.l-images {
  scale: 1.25;
  transition: 0.25s ease-in-out;
}

.l-images:hover {
  scale: 1.6;
  transition: 0.25s ease-in-out;
}

/* Animation */
.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color:#00b3ff ;
  transform-origin: bottom right;
  transition: transform 0.2s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
